/* apps/web/app/globals.css */
@import 'tailwindcss';

@import '../styles/fonts.css';

@source "../../node_modules/@together-dog/ui";

@theme {
  --font-dohyeon: var(--font-dohyeon), sans-serif;
}

:root {
  --color-background: #fffdf7;
  --font-primary: 'Pretendard Variable', -apple-system, sans-serif;
  --font-secondary: 'NanumSquareNeo', sans-serif;
}

body {
  font-family: var(--font-primary);
  color: #222;
  background-color: var(--color-background);
}

a:hover,
button:hover {
  cursor: pointer;
  text-decoration: none;
}

@layer utilities {
  .thin-scrollbar::-webkit-scrollbar {
    height: 4px;
  }
  .thin-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
  }
  .thin-scrollbar::-webkit-scrollbar-thumb {
    background-color: #d1d5db; /* Neutral Gray */
    border-radius: 10px;
  }
}
