/* Pretendard Variable */
@font-face {
  font-family: 'Pretendard Variable';
  src: url('/fonts/PretendardVariable.woff2') format('woff2-variations');
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
}

/* NanumSquareNeo - Light */
@font-face {
  font-family: 'NanumSquareNeo';
  src: url('/fonts/NanumSquareNeoTTF-aLt.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* NanumSquareNeo - Regular */
@font-face {
  font-family: 'NanumSquareNeo';
  src: url('/fonts/NanumSquareNeoTTF-bRg.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* NanumSquareNeo - Bold */
@font-face {
  font-family: 'NanumSquareNeo';
  src: url('/fonts/NanumSquareNeoTTF-cBd.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
